/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

p {
	padding: 10px;
}

header{
	padding: 10px;
}

h1 {
	margin-top: -10px;
}

.position{
	margin-top: -40px;
}

.title {
	font-family:'Boogaloo', sans-serif;
	font-size: 36px;
	color:#116189;
}

.title2 {
	font-size: 200%;
	color:#116189;
	font-weight: bolder;
	margin: 10px;
}

.motto {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
}

.names {
	font-size: 110%;
	font-weight: bold;
	color: #116189;
	margin-bottom: -10px;
}

nav ul {
	background-color: #D74710;
	border-radius:5px;
}
nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight:bold;
	font-size: 150%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #FF9D45;
}

.content-box {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #555;
}

.logo {
	float:left;
	margin-right: 20px;
}

.factory {
	float:left;
	margin-right: 10px;
}

.freeshipping{
	float:right;
	margin-left: 10px;
	margin-top: -40px;
}

.person {
	float:left;
	margin-right:10px;
}

.banner {
	width: 75%;
	background-color: #FBEAE3;
	margin: 0 auto;
	margin-top:20px;
}

.banner a:link,
.banner a:visited {
	text-decoration: none;
}

.banner a:hover {
	text-decoration: underline;
}

.deal{
	font-style:italic;
	margin-top: -10px;	
}

.widget {
	font-weight: bolder;
	font-size: 150%;
}

.basic {
	float:left;
	margin-right: 20px;
}

.super{
	float:left;
	margin-right: 20px;
}

.super-duper{
	float:left;
	margin-right: 20px;
}

footer p{
	margin-top: 50px;
	border-style:thin;
	border-top: thin double #d7d8ff;
}

footer{
	font-style: italic;
	font-size: 80%;
}

footer a:link,
footer a:visited {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}